<!--Start mc_embed_signup-->
<div id="mc_embed_signup">
    <form action="http://nhdnug.us1.list-manage.com/subscribe/post?u=7caabf49168c8e4afd10d62fd&amp;id=f3a96ce54f"
          method="post" 
          id="mc-embedded-subscribe-form" 
          name="mc-embedded-subscribe-form" 
          class="validate"
          target="_blank">
        <h3>Keep In Touch</h3>
        <div class="mc-field-group">
            <label for="mce-EMAIL">
                Email:
            </label>
            <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" >
        </div>
        <div id="mce-responses">
            <div class="response" id="mce-error-response" style="display: none">
            </div>
            <div class="response" id="mce-success-response" style="display: none">
            </div>
        </div>
        <div>
            <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="subscribe">
        </div>
    </form>
</div>
<!--End mc_embed_signup-->