@model NHDNUG.Data.nh_Documents

@{
    ViewBag.Title = "Create Document";
}
@section head{

}
<script type="text/javascript">
    setAdminNavFocus("documentsAdmin")
</script>
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.Partial("_CreateOrEdit", Model)

    <p>
        <input type="submit" value="Create" class="k-button" /> |  @Html.ActionLink("Back to List", "Index")
    </p>
}