@{
    ViewBag.Title = "Contact";
}
<script type="text/javascript">
    setNavFocus("contactNav")
</script>
<h2>@ViewBag.Title</h2>

@section News {
    <p>
        North Houston .NET Users Group is run by a team of volunteers:
    </p>
    <ul>
        <li>
            <b>President</b><br />
             <a href="mailto:jreynolds@infocraft.net" target="_top">Joe Reynolds</a>
        </li>
        @*<li><b>Vice President</b><br />
             <a href="mailto:Christy@softwaremasons.com" target="_top">Christine Piffat</a>
        <li>
            <b>Officer</b><br />
             <a href="mailto:dtalwalker@hotmail.com" target="_top">Dev Talwalker</a>
        </li>
        <li>
            <b>Officer</b><br />
             <a href="mailto:Cardella@gmail.com" target="_top">Tony Cardella</a>
        </li>
    </ul>
}
<p>
    To reach the North Houston DNUG, please email <a href="mailto:jreynolds@infocraft.net?Subject=Information%20About%20NHDNUG">Joe Reynolds</a>.
</p>
<p>
    The North Houston .NET Users Group meets the third Thursday of every month at 6:30
    PM on the campus of Lone Star College Montgomery in The Woodlands, Texas. There
    is free pizza and drinks before every meeting and a raffle for valuable prizes at
    the end. Prizes often include books from major .NET publishers, software and
    license keys for .NET developer tools, and Microsoft hardware and swag.
</p>
<p>
    NHDNUG was founded in January 2008 by Todd Anglin.
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.9521122374626!2d-95.46899745000026!3d30.209914197333987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86473748f6b497df%3A0xa6bd3dc3f7177305!2sBldg+G+(General+Academic+Center)%2C+G+College+Park+Dr%2C+Conroe%2C+TX+77384!5e0!3m2!1sen!2sus!4v1410716513021" width="600" height="450" frameborder="0" style="border:0"></iframe>

<br />
